<ion-view view-title="明 细">
    <ion-nav-bar class="bar bar-assertive">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/mine" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
        <ion-nav-buttons ng-click="" side="right">
            <button class="button button-clear"  style="font-size: 1em;line-height: 31px;"  ng-click="openFilterModal()">筛选</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="bar bar-subheader dateTitle">
        <div class="head-detail">
            <span>本月</span>
            <i class="icon-calendar" ng-click="openDatePopover($event)"></i>
        </div>
    </div>

    <ion-content>
        <div class="list list-detail">
            <a class="item" href="#mineDetails" ng-repeat="detailList in detailListItem track by $index"><!--mineDetails-->
                <div class="row">
                    <div class="col col-20">
                        <ul>
                            <li ng-cloak="">{{detailList.getDayDate}}</li>
                            <li ng-cloak="">{{detailList.createDate}}</li>
                        </ul>
                    </div>
                    <div class="col col-80">
                        <img ng-src="{{detailList.imgClass}}">
                        <h2 ng-cloak=""><i>{{detailList.plusMinus}}</i>{{detailList.money}}</h2>
                        <p ng-cloak="">{{detailList.detailType}}</p>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>


