<ion-view view-title = "{{viewList}}">
    <ion-nav-bar class="bar bar-assertive all-orders-title">
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-arrow-left" href="#/tab/mine" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
        <ion-nav-buttons  side="right">
            <button class="button button-icon ion ion-android-arrow-dropdown" style="position: fixed; left: 57%;margin-top: px;"  ng-click="show()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" class="all-orders" has-bouncing="true">
        <div class="tab-toselect">
            <a class="tab_default" ng-class="selectIndex==$index ? 'tab_select' : '' " ng-click="activeTab($index)" ng-repeat="tab in tabNames">
                {{tab}}
            </a>
        </div>
        <ion-scroll zooming="false" direction="y" class="allorders-scroll" ng-if="selectIndex==0"><!--待付款-->
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <ion-list class="all-orders-list" ng-repeat="orders in requesArr  track by $index">
                <div class="each-order" ng-click="toOrderDetail()" >
                    <ion-item class="padding-h8">
                        <div class="row row-top">
                            <div class="col">
                                <h3 ng-cloak>{{orders.titleText}}</h3>
                                <i ng-cloak>{{orders.statusText}}</i>
                            </div>
                            <div class="col col-right">
                                <h3><span>10</span>小时后截止购买</h3>
                                <ins>￥<span ng-cloak="">{{orders.money}}</span>元</ins>
                            </div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col">
                                <a href="" ng-click="viewDetails($index)">查看详情</a>
                            </div>
                            <div class="col col-right">
                                <a href="" class="button button-assertive">点击付款</a>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore(0)" distance="1%"></ion-infinite-scroll>
        </ion-scroll>

        <ion-scroll zooming="false" direction="y" class="allorders-scroll" ng-if="selectIndex==1"><!--待出票-->
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <ion-list class="all-orders-list" ng-repeat="orders in requesArr track by $index">
                <div class="each-order" ng-click="toOrderDetail(order.ticketID)" >
                    <ion-item class="padding-h8">
                        <div class="row row-top">
                            <div class="col">
                                <h3 ng-cloak>{{orders.titleText}}</h3>
                                <i ng-cloak>{{orders.statusText}}</i>
                            </div>
                            <div class="col col-right">
                                <h3>创建时间: <span ng-cloak>{{orders.createDate}}</span></h3>
                                <small>最高奖金:</small><ins>￥<span ng-cloak>{{orders.money}}</span>元</ins>
                            </div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col">
                                <a href="">订单编号：<i ng-cloak>{{orders.ticketID}}</i></a>
                            </div>
                            <div class="col col-right">
                                <a href="" class="button button-assertive"  ng-click="viewDetails($index)">查看详情</a>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore(1)" distance="1%"></ion-infinite-scroll>
        </ion-scroll>

        <ion-scroll zooming="false" direction="y" class="allorders-scroll" ng-if="selectIndex==2"><!--待开奖-->
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <ion-list class="all-orders-list" ng-repeat="orders in requesArr  track by $index">
                <div class="each-order" ng-click="toOrderDetail(order.ticketID)" >
                    <ion-item class="padding-h8">
                        <div class="row row-top">
                            <div class="col">
                                <h3 ng-cloak>{{orders.titleText}}</h3>
                                <i ng-cloak>{{orders.statusText}}</i>
                            </div>
                            <div class="col col-right">
                                <h3 style="color: #e02121">距离开奖: <span>{{drawTime}}</span></h3>
                                <small>最高奖金:</small><ins>￥<span ng-cloak>{{orders.money}}</span>元</ins>
                            </div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col">
                                <a href="">订单编号：<i ng-cloak>{{orders.ticketID}}</i></a>
                            </div>
                            <div class="col col-right">
                                <a href="" class="button button-assertive"  ng-click="viewDetails($index)">查看详情</a>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore(2)" distance="1%"></ion-infinite-scroll>
        </ion-scroll>

        <ion-scroll zooming="false" direction="y" class="allorders-scroll" ng-if="selectIndex==3"><!--待派奖-->
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <ion-list class="all-orders-list"  ng-repeat="orders in requesArr  track by $index">
                <div class="each-order" ng-click="toOrderDetail(order.ticketID)" >
                    <ion-item class="padding-h8">
                        <div class="row row-top">
                            <div class="col">
                                <h3 ng-cloak>{{orders.titleText}}</h3>
                                <i ng-cloak>{{orders.statusText}}</i>
                            </div>
                            <div class="col col-right" style="margin-top: 7%;">
                                <small>预计奖金: </small><ins>￥<span ng-cloak>{{orders.money}}</span>元</ins>
                            </div>
                            <div class="win-img" ng-class="orders.status == 0?'icon-winning-red':'icon-winning-grey' "></div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col">
                                <a href="">订单编号：<i ng-cloak>{{orders.ticketID}}</i></a>
                            </div>
                            <div class="col col-right">
                                <a href="" class="button button-assertive"  ng-click="viewDetails($index)">查看详情</a>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore(4,0)" distance="1%"></ion-infinite-scroll>
        </ion-scroll>

        <ion-scroll zooming="false" direction="y" class="allorders-scroll" ng-if="selectIndex==4"><!--已取票-->
            <ion-list class="all-orders-list">
                <div class="each-order" ng-click="toOrderDetail(order.ticketID)" >
                    <ion-item class="padding-h8">
                        <div class="row row-top">
                            <div class="col">
                                <h3>精彩胜平负</h3>
                                <i>已取票</i>
                            </div>
                            <div class="col col-right">
                                <h3>创建时间: <span>2017-5-3</span></h3>
                                <small>最高奖金:</small><ins>￥<span>15.00</span>元</ins>
                            </div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col">
                                <a href=""  ng-click="viewDetails($index)">查看详情</a>
                            </div>
                            <div class="col col-right">
                                <a href="" class="button button-assertive">确认</a>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>
