<ion-view view-title="投注详情">
    <ion-nav-bar class="bar bar-assertive titles">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#allOrders" class="button button-icon icon ion-ios-arrow-left"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content style="background: #f9f8f0;">
        <div class="detailTitle">
            <div class="user-head">
                <img src="./img/BigLotto.png" alt="大乐透">
            </div>
            <h3 ng-cloak="">{{ordersInfo.titleText}}</h3>
            <span ng-cloak="">{{ordersInfo.wareIssue}}期</span>
            <i ng-cloak="">金额: {{ordersInfo.money}}元</i>
        </div>
        <div class="list detailTitle-content">
            <ion-list>
                <ion-item class="list-item">
                    <h2>订单状态:</h2>
                    <span ng-cloak="">{{ordersInfo.statusText}}</span>
                </ion-item>
                <ion-item class="list-item">
                    <h2>开奖号码:</h2>
                    <span>未知</span>
                </ion-item>
                <div >
                    <ion-item class="item-icon-right list-item"
                              ng-click="toggleGroup()">
                        <i ng-class="isGroupShown() ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                        <h2 style="font-weight: 600">选号详情:</h2>
                        <span ng-cloak="">{{lotteryListCount}} 条</span>
                    </ion-item>
                    <ion-item class="itemContent list-item" ng-show="isGroupShown()" >
                        <ul class="ball-content">
                            <li ng-repeat="lotteryList in ordersInfo.investCode track by $index" ng-cloak = ''>
                                <div class="way">
                                    <h3>单式:</h3>
                                    <ins ng-cloak="">{{lotteryList.multiple}}倍</ins>
                                </div>
                                <span ng-cloak="">{{lotteryList.investCode}}</span>
                            </li>
                        </ul>
                    </ion-item>
                </div>
            </ion-list>
        </div>
        <div class="ball-foot">
            <ul>
                <li>
                    <h3>下单时间:</h3>
                    <ins ng-cloak="">{{ordersInfo.createDate}}</ins>
                </li>
                <li>
                    <h3>订单编号:</h3>
                    <ins ng-cloak="">{{ordersInfo.ticketID}}</ins>
                </li>
                <li>
                    <h3>温馨提示:</h3>
                    <ins>奖金直接打入您的账户</ins>
                </li>
            </ul>
        </div>
    </ion-content>
    <!--<a href="" class="button button-assertive Continue-bet">继续投注本次号码</a>-->
</ion-view>
