<ion-view view-title="预测">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="button-icon ion-ios-arrow-left">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding has-header">
        <div class="infoContent">
            <h3>两高明确侵犯个人信息量刑标准：获利五千可判3年 </h3>
            <h5>百宝彩票 <span>11-29 15:30</span></h5>
            <p>在专门的个人信息保护法尚属空白的情况下，如何明确侵犯公民个人信息罪中所谓的“情节严重”、“情节特别严重”？“两高”给出了司法解释。
                5月9日，《最高人民法院、最高人民检察院关于办理侵犯公民个人信息刑事案件适用法律若干问题的解释》（以下简称《解释》）在京发布，进一步明确了侵犯公民个人信息罪的定罪量刑标准。
                “近年来，侵犯公民个人信息犯罪仍处于高发态势。”最高人民法院研究室主任颜茂昆坦言，在查办案件过程中，有意见反映，侵犯公民个人信息罪的定罪量刑标准较为原则，不易把握；另有一些法律适用问题存在认识分歧，影响了案件办理。
                上述《解释》共十三条，包括明确了“公民个人信息”的范围、非法“提供公民个人信息”的认定标准等十个方面内容，将于2017年6月1日起正式施行。
                澎湃新闻（www.thepaper.cn）注意到，对于出售、非法提供公民个人信息罪和非法获取公民个人信息罪的处罚，《刑法》原条文规定：情节严重的，处三年以下有期徒刑或者拘役，并处或者单处罚金。也就是说，在《刑法修正案（九）》之前，凡是构成此罪的最高刑期为三年。
                不过，何为“情节严重”？有关侵犯公民个人信息罪的这一入罪要件尚不明晰，缺乏定罪标准。
                为此，《解释》第五条第一款设十项对“情节严重”的认定标准作了明确规定，大致涉及如下五个方面：一是信息类型和数量。基于不同类型公民个人信息的重要程度，《解释》分别设置了“五十条以上”“五百条以上”“五千条以上”的入罪标准，以体现罪责刑相适应。
                二是违法所得数额。出售或者非法提供公民个人信息往往是为了牟利，基于此，《解释》将违法所得五千元以上的规定为“情节严重”。</p>
        </div>
    </ion-content>
</ion-view>
