<ion-view view-title="大乐透">
    <ion-nav-bar class="bar bar-assertive titles">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#BigLotto" class="button button-icon icon ion-ios-arrow-left"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="showSaveAlert(0)">保存</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="bar has-header addHeader50">
        <div class="row h50">
            <a class="button icon icon-left ion-ios-plus-empty button-light col btn-30" href="" ng-click="manualAdd()">手动添加</a>
            <a class="button icon icon-left ion-ios-plus-empty button-light col btn-30" href="" ng-click=autoAdd()>店主机选</a>
        </div>
    </div>

    <ion-content class="bg-grey ">
        <div>
            <ul class="list betting-detail-ul">
                <li class="item item-button-left item-button-right" ng-repeat="liItem in sessionJsonWarp track by $index">
                    <a class="button button-clear deleteIcon" ng-click="deleteRow($index)">
                        <i class="icon ion-android-close dark"></i>
                    </a>
                    <div class="betting-num num-bg-red">
                        <i ng-repeat="redItem in liItem.red track by $index" ng-bind="redItem.num"></i>
                    </div>
                    <div class="betting-num num-bg-blue">
                        <i ng-repeat="blueItem in liItem.blue track by $index" ng-bind="blueItem.num"></i>
                    </div>
                    <a class="button button-clear " href="" ng-click="editThisOrder($index)">
                        <i class="icon ion-ios-arrow-right dark"></i>
                    </a>
                </li>
                <li class="item item-button-left item-button-right" ng-repeat="liAutoAdd in liAutoAdds track by $index">
                    <a class="button button-clear deleteIconGroup" ng-click="machineDelete($index)">
                        <i class="icon ion-android-close dark"></i>
                    </a>
                    <div style="line-height: 28px">店主机选 <span ng-bind="liAutoAdd.num"></span>注</div>
                </li>

            </ul>
        </div>
    </ion-content>

    <ion-footer-bar class=" betting-detail-footer" style="height: 155px;">
        <div>
            <p>
                投注
                <label class="padding-left">
                    <input class="bigLotto-input1 "
                           placeholder=""
                           type="tel"
                           onKeyUp="value=value.replace(/\D/g,'')"
                           ng-model="multiple"
                           ng-blur="blur($event)"  />
                </label> 倍
            </p>
            <p>
                金额:
                <span class="font-red">{{totalMoney * multiple * countMoney}}</span> 元 &nbsp;
                <label class="checkbox ">
                    <input
                        class="bigLotto-input2"
                        type="checkbox"
                        ng-checked="isSelected.checked"
                        ng-click="onchange()"/>
                </label>追加 (每注3元)
            </p>
            <button class="button button-block button-assertive submitBtn" ng-click="showOrderAlertCms(1)" style="font-size: 16px;">
                提交彩店
            </button>
        </div>

    </ion-footer-bar>
</ion-view>
