<ion-view view-title="">

    <ion-content class="has-header">
        <div class="list football">

            <a class="item item-thumbnail-right" href="#/tab/information/articleDetails">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>老师能否带来否带来老o</p>
                <div class="row longTime">
                    <p>6</p>分钟前 <i class="icon ion-chatbox-working"></i>&nbsp<span>15</span>
                </div>
            </a>

            <a class="item item-thumbnail-right" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>老师能否带来否带来老o</p>
                <div class="row longTime">
                    <p>6</p>分钟前 <i class="icon ion-chatbox-working"></i>&nbsp<span>15</span>
                </div>
            </a>

            <a class="item item-thumbnail-right" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>老师能否带来否带来老o</p>
                <div class="row longTime">
                    <p>6</p>分钟前 <i class="icon ion-chatbox-working"></i>&nbsp<span>15</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>

