<ion-view view-title="大乐透">

    <ion-nav-bar class="bar-stable titles">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#/tab/home" class="button button-icon ion-ios-arrow-left"
               style="font-size: 2em;color: #d11d1d"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="" class="button button-icon ion-navicon-round" style="font-size: 2em;color: #d11d1d"
               ng-click="openPopover($event)"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header padding">
        <div class="row openTime">
            <div class="col col-50">
                <span>投注截至:<i>11-29 18:00</i></span>
            </div>
            <div class="col col-50">
                <span>开奖:<i>11-29 18:00</i></span>
            </div>
        </div>

        <div class="num-sum-red">
            <i
                ng-repeat="redNumRed in numDataRed"
                ng-class="eyeshow?'red-ball-bg-red':'red-ball-bg-white'"
                ng-click="eyeshow=!eyeshow">
                {{redNumRed}}
            </i>
        </div>
        <div class="num-sum-blue">
            <i
                ng-repeat="redNumBlue in numDataBlue"
                ng-class="eyeshow?'blue-ball-bg-blue':'blue-ball-bg-white'"
                ng-click="eyeshow=!eyeshow">
                {{redNumBlue}}
            </i>
        </div>

    </ion-content>

    <div class="bar bar-footer order-btns">
        <div class="clearBtn">
            <a href="#" class="button button-light icon ion-ios-trash-outline" style="color: #db3939;font-size: .6em;"
               ng-click=""><p>清空</p></a>
            <a href="#" class="button button-light icon ion-iphone" style="color: #db3939;font-size: .6em;" ng-click="">
                <p>机选</p></a>
            <h1 class="title"><span>0</span> 注<span>0</span> 元</h1>
            <a href="#/bettingDetail" class="button button-assertive" ng-click="" >确定</a> 
        </div>
    </div>
</ion-view>

