<ion-view view-title="大乐透">

    <ion-nav-bar class="bar-light titles">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#/tab/home" class="button button-icon ion-ios-arrow-left" style="font-size: 2em;color: #d11d1d"></a>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <a href="" class="button button-icon ion-navicon-round" style="font-size: 2em;color: #d11d1d" ng-click="openPopover($event)"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header padding PickAreaContent">
        <div class="row drawTime">
            <div class="col col-50">
                <span>投注截至:<i>{{now|date: 'MM-dd '}}19:30</i></span>
            </div>
            <div class="col col-50">
                <span>开奖:<i>{{now|date: 'MM-dd '}}20:30</i></span>
            </div>
        </div>

        <div class="num-sum-red">
            <i
                ng-repeat="redNumRed in numDataRed"
                ng-class="{false: 'red-ball-bg-white', true: 'red-ball-bg-red'}[redNumRed.check]"
                ng-click="addRedClick(redNumRed)">
                {{redNumRed.num}}
            </i>
        </div>
        <div class="num-sum-blue">
            <i
                ng-repeat="blueNumBlue in numDataBlue"
                class="blue-ball-bg-white"
                ng-class="{false: 'blue-ball-bg-white', true: 'blue-ball-bg-blue'}[blueNumBlue.check]"
                ng-click="addBlueClick(blueNumBlue)">
                {{blueNumBlue.num}}
            </i>
        </div>
    </ion-content>


    <div class="bar bar-footer order-btns">
        <div class="clearBtn">
            <a href="" class="button button-light icon ion-ios-trash-outline" style="color: #db3939;font-size: .6em;"
               ng-click="clearSelected()"><p>清空</p></a>
            <a href="" class="button button-light icon ion-iphone" style="color: #db3939;font-size: .6em;" ng-click="randomBall()">
                <p>机选</p></a>
            <h1 class="title"><span>{{Note}}</span> 注<span>{{NoteMoney}}</span> 元</h1>
            <a href="" class="button button-assertive" ng-click="saveBallSelect()" >确定</a>
        </div>
    </div>
</ion-view>

<script id = "popover.html" type = "text/ng-template">
    <ion-popover-view class="popover">
        <ion-content>
            <h5>走势图</h5>
            <h5>历史开奖</h5>
            <h5>玩法说明</h5>
        </ion-content>

    </ion-popover-view>
</script>
