<ion-view view-title="订单宝">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left" ng-click="">
            <button class="button button-clear ion ion-ios-bell-outline" style="font-size: 2em;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <!-- start 轮播图-->
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
            <ion-slide>
                <div class="box"><img src="./img/slide1.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="./img/slide2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="./img/slide3.jpg"/></div>
            </ion-slide>
        </ion-slide-box>
        <!-- end 轮播图-->
        <!-- start 竞猜投注-->
        <div class="row betHeader"><i></i>投注</div>
        <div class="row">
            <div class="col col-lg-6">
                <a href="#/RaceColorFootball">
                    <dl class="picLsit">
                        <dt><img src="./img/football.png" alt=""></dt>
                        <dd>
                            <h4>竞猜足球</h4>
                            <div class="txt">返奖率高达<span>85%</span></div>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="col col-lg-6">
                <a href="#/BigLotto">
                    <dl class="picLsit">
                        <i style="margin-right: 3px;"></i>
                        <dt><img src="./img/BigLotto.png" alt=""></dt>
                        <dd>
                            <h4>大乐透</h4>
                            <div class="txt">奖池<span style="letter-spacing: 0;">22,2255</span></div>
                        </dd>
                    </dl>
                </a>
            </div>
        </div>
        <!-- end 竞猜投注-->
        <!-- start 通知公告-->
        <div class="line"></div>
        <div class="row notice">
            <i class="icon ion-volume-medium"></i>
            <div class="noticeText">最近五场赛事推荐胜率比较高的的四位高手</div>
        </div>
        <!-- end 通知公告-->
        <!-- start 中奖新星-->
        <div class="row">
            <div class="col col-25">
                <div class="itemFloat">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h6>足彩王中王</h6>
                    <p>胜负彩8串256</p>
                    <span class="pitch"><span>5</span>中<span>5</span></span>
                </div>
            </div>
            <div class="col col-25">
                <div class="itemFloat">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h6>Venkman</h6>
                    <p>Back ofst.</p>
                    <span class="pitch"><span>5</span>中<span>5</span></span>
                </div>
            </div>
            <div class="col col-25">
                <div class="itemFloat">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h6>Venkman</h6>
                    <p>Back ofst.</p>
                    <span class="pitch"><span>5</span>中<span>5</span></span>
                </div>
            </div>
            <div class="col col-25">
                <div class="itemFloat">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h6>Venkman</h6>
                    <p>Back ofst.</p>
                    <span class="pitch"><span>5</span>中<span>5</span></span>
                </div>
            </div>
        </div>
        <!-- end 中奖新星-->
        <!-- start 新闻资讯-->
        <div class="line"></div>
        <div class="row betHeader"><i></i>资讯</div>
        <div class="list">
            <a class="item item-thumbnail-left item-text-wrap" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p class="listText">Blue AlbumBlue AlbumBlu</p>
                <p class="dataTime">
                    <i>02-28</i>
                    <i>15:05</i>
                    <i style="float: right;">阅读<span>603</span></i>
                </p>
            </a>

            <a class="item item-thumbnail-left item-text-wrap" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p class="listText">Blue AlbumBlue AlbumBlu</p>
                <p class="dataTime">
                    <i>02-28</i>
                    <i>15:05</i>
                    <i style="float: right;">阅读<span>603</span></i>
                </p>
            </a>

            <a class="item item-thumbnail-left item-text-wrap" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p class="listText">Blue AlbumBlue AlbumBlu</p>
                <p class="dataTime">
                    <i>02-28</i>
                    <i>15:05</i>
                    <i style="float: right;">阅读<span>603</span></i>
                </p>
            </a>

            <a class="item item-thumbnail-left item-text-wrap" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p class="listText">Blue AlbumBlue AlbumBlu</p>
                <p class="dataTime">
                    <i>02-28</i>
                    <i>15:05</i>
                    <i style="float: right;">阅读<span>603</span></i>
                </p>
            </a>
        </div>

    </ion-content>
</ion-view>













