<ion-view view-title="">

    <div class="bar bar-header bar-assertive">
        <div class="button button-clear">
            <a class=" button bar-assertive button" ui-sref="tab.information.BiddingFootball" ng-click="change('a')" ng-class="{ 'active': data === 'a' }">竞彩足球</a>&nbsp;
            <a class=" button bar-assertive" ui-sref="tab.information.SuperLotto" ng-click="change('b')" ng-class="{ 'active': data === 'b' }">大乐透</a>
        </div>
    </div>

    <ion-nav-view></ion-nav-view>
</ion-view>
