<ion-view view-title="明细详情">
    <ion-nav-bar class="bar bar-assertive">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/accountDetail" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content style="background: #f7f5f5;">
        <div class="DetailInfo">
            <div class="detail-title">
                <i class="icon-withdraw"></i>
                <span>竞彩足球混合过关</span>
            </div>
            <div class="trading-status">
                <p>-10.00</p>
                <span>交易成功</span>
            </div>
            <div class="detail-list">
                <span>付费方式</span>
                <ins>余额</ins>
            </div>
            <div class="detail-list">
                <span>创建时间</span>
                <ins>2017-03-07 12:30</ins>
            </div>
            <div class="detail-list" style="border-top: 1px solid #f7f5f5;">
                <span>订单编号</span>
                <ins>2017-03-07 12:30</ins>
            </div>


            <!-- <div class="proof">
                 <ion-list>
                     <div ng-repeat="group in groups">
                         <ion-item class="item-stable item-icon-right"
                                   ng-click="toggleGroup(group)"
                                   ng-class="{active: isGroupShown(group)}" >
                             <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                             上传凭证？
                         </ion-item>
                         <ion-item class="item-accordion"
                                   ng-show="isGroupShown(group)" >
                             <div class="item-area">
                                 <textarea rows="6" cols="50" placeholder="请输入备注或凭证说明......"></textarea>
                                 <img alt="" src="./img/user.jpg" id="myImage">
                                 &lt;!&ndash;<span ng-if="item.imgSrc" ng-click="img_del($index)"></span>&ndash;&gt;
                                 <div class="add-img" ng-click="pickImage()">
                                     <i class="add-img-icon ion-android-add"></i>
                                 </div>
                                 <p>*注:凭证保存时效为1个月。已上传凭证可在账单明细详情中查看;</p>
                             </div>
                         </ion-item>
                     </div>
                 </ion-list>
             </div>-->
        </div>
    </ion-content>


</ion-view>


