<ion-view view-title="">
    <ion-content style="background: #f2f2f2;">
        <div class="user">
            <div class="row user-top">
                <div class="col col-40 ">
                    <div class="user-portrait">
                        <img src="../img/user.jpg" alt="">
                    </div>
                </div>
                <div class="col col-60 ">
                    <div class="user-info">
                        <h4><span>昵称:</span> 点石成金</h4>
                        <p><span>手机号:</span> 151****1207</p>
                    </div>
                </div>
            </div>
            <div class="row user-bottom">
                <div class="col col-33">
                    <p>账户总额</p>
                    <p>513.00</p>
                </div>
                <div class="col col-33">
                    <p>可用金额</p>
                    <p>465.00</p>
                </div>
                <div class="col col-33">
                    <p>公益金</p>
                    <p>200.00</p>
                </div>
            </div>
        </div>
        <div class="account">
            <div class="row">
                <div class="col col-33">
                    <a href="#recharge">
                        <img src="./img/pay.png" alt="">
                        <p>充值</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="#withdraw">
                        <img src="./img/withdraw.png" alt="">
                        <p>提现</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="#accountDetail">
                        <img src="./img/detail.png" alt="">
                        <p>明细</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="orders">
            <div class="list">
                <a class="item item-icon-left item-icon-right" href="" ng-click="allListOrder(0)">
                    <i class="icon icon-order"></i>
                    全部订单
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <div class="mine-all-orders">
                    <div class="row">
                        <div class="col col-25">
                            <a href="" ng-click="allListOrder(0)">
                                <i class="icon icon-payment"><ins class="red-point" ng-show="bragePayment?true:false">2</ins></i>
                                <p>待付款</p>
                            </a>
                        </div>
                        <div class="col col-25">
                            <a href="" ng-click="allListOrder(1)">
                                <i class="icon icon-drawer" style="font-weight: lighter;"><ins class="red-point" ng-show="brageDrawer?true:false">1</ins></i>
                                <p>待出票</p>
                            </a>
                        </div>
                        <div class="col col-25">
                            <a href="" ng-click="allListOrder(0)">
                                <i class="icon icon-drawer-failure"><ins class="red-point" ng-show="brageDrawerFail?true:false">5</ins></i>
                                <p>未出票</p>
                            </a>
                        </div>
                        <div class="col col-25">
                            <a href="" ng-click="allListOrder(2)">
                                <i class="icon icon-record"><ins class="red-point" ng-show="brageRecord?true:false">3</ins></i>
                                <p>待开奖</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="list margin-5">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon icon-PushSingle"></i>
                推单详情
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list margin-5">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon icon-color-shop"></i>
                关于彩店
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list margin-5">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon icon-setting"></i>
                设置
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
