<ion-modal-view class="pawCode">
    <div class="account-modal">
        <ion-item class="item-icon-left ">
            <i class="icon ion-ios-close-empty" ng-click="closeModal()"></i>
            请输入密码
            <form>
                <div class="passContainer">
                    <input type="password" id="chargePass" maxlength="6" ng-model="withDrawPassWord.password" class="password" ng-change="confirmVerify()"/>
                    <div class="passItem"></div>
                    <div class="passItem"></div>
                    <div class="passItem"></div>
                    <div class="passItem"></div>
                    <div class="passItem"></div>
                    <div class="passItem"></div>
                </div>
            </form>
            <a href="">忘记密码？</a>
        </ion-item>

    </div>
</ion-modal-view>
