<ion-modal-view class="pawCode">
    <div class="account-modal">
        <ion-item class="item-icon-left ">
            <i class="icon ion-ios-close-empty" ng-click="closeModal()"></i>
            请输入密码
            <div class="withdrawPawCode">
                <label class="item item-input">
                    <input type="password" maxlength="1" ng-repeat="inpNum in inputNum" >
                </label>
            </div>
            <a href="">忘记密码？</a>
        </ion-item>

    </div>
</ion-modal-view>
