<ion-view view-title = "订单状态" >
	<ion-nav-bar class="bar bar-assertive">
		<ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
		<ion-nav-buttons side="right">
			 <button class="button button-clear " ng-click="goToHome()">关闭</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="order-status-wrap">
		<ul class="order-status-ul">
			<li class="clearfix" ng-repeat="order in orderStatus">
				<div class="order-status-left">
					<i class="order-start-icon " ng-class="order.iconClass" ></i>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h5 class="fl" ng-cloak>{{order.status}}</h5>
						<span class="fr" ng-cloak>{{order.createDate}}</span>
					</div>
					<p><span ng-cloak>{{order.statusText}}</span><a href="" class="button fr" ng-show="makeSuerBtn?true:false">确认</a></p>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view >
