<ion-view view-title = "订单状态" >
	<ion-nav-bar class="bar bar-header bar-assertive">
		
		<ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
		
		<ion-nav-buttons side="right">
			 <button class="button button-clear ">关闭</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="order-status-wrap">
		<ul class="order-status-ul">
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg1"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg2"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg3"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg4"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg5"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg5"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg5"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="order-status-left">
					<div class="order-start-icon order-status-bg5"></div>
					<span class="order-status-line"></span>
				</div>
				<div class="order-status-right">
					<div class="order-status-content clearfix">
						<h4 class="fl">订单已中奖</h4>
						<span class="fr">2017-02-27  18:23:00</span>
					</div>
					<p>等待派奖</p>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view >