<ion-view view-title="实单推荐">
    <ion-nav-bar class="bar-assertive">
    </ion-nav-bar>

    <ion-content>
        <div class="row SortTotal">
            <div class="col col-33" ng-click="openPopover($event)">综合排序<i class="icon ion-chevron-down"></i></div>
        </div>

        <div class="list">
            <div class="listItem">
                <a class="item item-avatar" href="#">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h2>Venkman</h2>
                    <p>推荐理由：<span>Back off, man. I'm a scientist.</span></p>
                    <div class="row orderItem">
                        <div class="col col-25">
                            <h4>竞彩</h4>
                            <p style="padding-top: 3px">足球胜平负</p>
                        </div>

                        <div class="col col-25">
                            <h5>1000</h5>
                            <p>自购金额(元)</p>
                        </div>

                        <div class="col col-25">
                            <h5>竞彩</h5>
                            <p>单倍金额(元)</p>
                        </div>

                        <div class="col col-25">
                            <h5>2</h5>
                            <p>跟单人数</p>
                        </div>
                    </div>
                </a>
                <div class="row endData">截止日期:
                    <i style="padding-left: 6px;">2-21 15:12</i>
                    <a href="#" class="button button-assertive btn">跟 单</a>
                </div>
                <div class="line"></div>
            </div>

            <div class="listItem">
                <a class="item item-avatar" href="#">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h2>Venkman</h2>
                    <p>推荐理由：<span>Back off, man. I'm a scientist.</span></p>
                    <div class="row orderItem">
                        <div class="col col-25">
                            <h4>竞彩</h4>
                            <p style="padding-top: 3px">足球胜平负</p>
                        </div>

                        <div class="col col-25">
                            <h5>1000</h5>
                            <p>自购金额(元)</p>
                        </div>

                        <div class="col col-25">
                            <h5>竞彩</h5>
                            <p>单倍金额(元)</p>
                        </div>

                        <div class="col col-25">
                            <h5>2</h5>
                            <p>跟单人数</p>
                        </div>
                    </div>
                </a>
                <div class="row endData">截止日期:
                    <i style="padding-left: 6px;">2-21 15:12</i>
                    <a href="#" class="button button-assertive btn">跟 单</a>
                </div>
                <div class="line"></div>
            </div>

            <div class="listItem">
                <a class="item item-avatar" href="#">
                    <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                    <h2>Venkman</h2>
                    <p>推荐理由：<span>Back off, man. I'm a scientist.</span></p>
                    <div class="row orderItem">
                        <div class="col col-25">
                            <h4>竞彩</h4>
                            <p style="padding-top: 3px">足球胜平负</p>
                        </div>

                        <div class="col col-25">
                            <h5>1000</h5>
                            <p>自购金额(元)</p>
                        </div>

                        <div class="col col-25">
                            <h5>竞彩</h5>
                            <p>单倍金额(元)</p>
                        </div>

                        <div class="col col-25">
                            <h5>2</h5>
                            <p>跟单人数</p>
                        </div>
                    </div>
                </a>
                <div class="row endData">截止日期:
                    <i style="padding-left: 6px;">2-21 15:12</i>
                    <a href="#" class="button button-assertive btn">跟 单</a>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
