<ion-view title="登 录">
    <ion-nav-bar class="bar-assertive marginLeft-6">
        <ion-nav-buttons side="left">
            <a href="#/tab/mine" class="button button-clear ion ion-ios-arrow-left" style="font-size: 2em;">
            </a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#register" class="button button-clear">
                注册
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header">
        <div class="app-logo"><img src="img/lottery.png" width="180"></div>
        <div class="list list-inset">
            <label class="item item-input borderTop">
                <!--<i class="icon ion-ios-person" style="font-size: 1.5em;"></i>-->
                <span class="input-label" style="padding-right: 22px; margin-left: 5px;  width: auto;">账 号
                        </span>
                <input type="text" ng-model="user.username" placeholder="请输入用户名" >
            </label>
            <label class="item item-input borderTop">
                <!--<i class="icon ion-ios-locked" style="font-size: 1.5em;"></i>-->
                <span class="input-label" style="padding-right: 22px; margin-left: 5px; width: auto;"> 密 码</span>
                <input type="password" ng-model="user.password" placeholder="请输入密码" >
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="signIn(user)">
                登 录
            </button>
        </div>
        <a href="#forgetPassword" class="button button-block button-clear" style="color: #d9231c;margin-top: -1em" >
            忘记密码？
        </a>
    </ion-content>

    <!--<ion-footer-bar class="bar bar-clear ion-ios-barcode-outline" style="margin-bottom: 15%;">
       &lt;!&ndash;   <a  class="button button-clear" href="#/register" style="color: #2c2c2c; margin-left: 16%;">
                注册账号</a>&ndash;&gt;
          <a  class="button button-clear" href="#/forgot-password" style="color: #2c2c2c; margin-right: 16%;"> 忘记密码
          </a>
    </ion-footer-bar>-->
</ion-view>
