<ion-view view-title="">

    <ion-content class="has-header">

        <div class="row LotteryImg">
            <div class="col col-33">
                <img src="./img/newLottery.png" alt="">
                <p>最新开奖</p>
            </div>
            <div class="col col-33">
                <img src="./img/professor.png" alt="">
                <p>专家杀号</p>
            </div>
            <div class="col col-33">
                <img src="./img/leave.png" alt="">
                <p>冷热遗漏</p>
            </div>

        </div>

        <div class="list football">

            <a class="item item-thumbnail-right" href="#/tab/information/articleDetails">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>老师能否带来否带来老o</p>
                <div class="row longTime">
                    <p>6</p>分钟前 <i class="icon ion-chatbox-working"></i>&nbsp<span>15</span>
                </div>
            </a>

            <a class="item item-thumbnail-right" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>老师能否带来否带来老o</p>
                <div class="row longTime">
                    <p>6</p>分钟前 <i class="icon ion-chatbox-working"></i>&nbsp<span>15</span>
                </div>
            </a>

            <a class="item item-thumbnail-right" href="#">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>老师能否带来否带来老o</p>
                <div class="row longTime">
                    <p>6</p>分钟前 <i class="icon ion-chatbox-working"></i>&nbsp<span>15</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
