<ion-tabs class="tabs-icon-top tabs-stable">
    <!-- 首页 Tab -->
    <ion-tab title="首页" icon-off="ion ion-ios-home-outline" icon-on="ion ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- 推荐 Tab -->
    <ion-tab title="推荐" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/recommend">
        <ion-nav-view name="tab-recommend"></ion-nav-view>
    </ion-tab>

    <!-- 资讯 Tab -->
    <ion-tab title="资讯" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/information/BiddingFootball">
        <ion-nav-view name="tab-information"></ion-nav-view>
    </ion-tab>

    <!--  我的 -->
    <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/mine">
        <ion-nav-view name="tab-mine"></ion-nav-view>
    </ion-tab>

</ion-tabs>
