<ion-view view-title="提现">
    <ion-nav-bar class="bar bar-assertive">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#withdraw" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content style="background: #f7f5f5;">
        <div class="drawFailed">
            <i ng-class="withdrawalState == true ? 'icon-checkNumber' : 'icon-wrong'"></i>
            <p ng-cloak>{{auditStatus}}</p>
            <div class="padding">
                <a href="" class="button button-block" ng-click="makeSure()">确 定</a>
            </div>
        </div>
        <div class="proof">
            <ion-list>
                <div class="withDrawProof">
                    <a href="#proofDetails">查看凭证</a>
                    <ion-item class="item-stable item-icon-right" ng-click="toggleGroup()">
                        <i class="icon" ng-class="isGroupShown() ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                    </ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown()" >
                        <div class="item-area">
                            <textarea rows="6" cols="50" placeholder="{{placeholder}}"></textarea>
                            <div class="add-img">
                                 <!--<i class="add-img-icon ion-android-add"></i>-->
                            </div>
                            <p>*注:凭证保存时效为1个月。已上传凭证可在账单明细详情中查看;</p>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
