* {
    font-family: 新宋体;
}

a {
    text-decoration: none;
}

/**********登陆页面************/

/*app logo*/
.app-logo {
    max-width: 15em;
    margin: 3em auto 3.5em;
    background-repeat: no-repeat;
    background-position: center;
}

.tab-item .icon {
    display: block;
    margin: 3px auto;
    height: 27px;
    font-size: 28px;
}

/*登录 注册 验证*/
.marginLeft-6 a.button {
    margin-left: 10px !important;
    line-height: 40px;
}

.marginLeft-6 .title {
    padding-top: 6px;
}

.borderTop {
    border: none;
    border-bottom: solid 1px #cecece;
    margin-top: 5px;
    padding: 6px 0 5px 4px;
}

.borderTop .input-label {
    max-width: 70px;
    margin-left: 5px;
}

.deal {
    line-height: 35px;
    margin: 0 auto;
}

.deal span {
    color: #a4a4a4;
}

.deal i {
    color: #c7221b;
}

.deal span,
.deal i {
    font-size: 13px;
}

.borderTop button {
    margin-right: 10%;
    border: 1px solid #e9eaec;
    background: none;
    padding: 3px 5px;
}

/********** 首页************/
/*start 轮播图*/
.box img {
    width: 100%;
    height: 9rem;
}

.ion-record:before {
    color: red;
}

/*start 竞猜投注*/
.betHeader {
    padding: .2em 0 .2em .6em;
    margin: 0;
}

.betHeader i {
    border-left: 2px solid #d10806;
    padding-left: 4px;
    height: 1rem;
    margin-top: 1px;
}

.picLsit {
    display: flex;
    margin-bottom: 0;
    overflow: auto;
}

.picLsit h4 {
    margin: 8px 0;
    font-size: 1.1em;
    text-align: left;
}

.picLsit .txt {
    margin-top: -4px;
    font-size: .3em;
    color: #999999;
    letter-spacing: .1em;
}

.picLsit img {
    vertical-align: top;
}

.picLsit i {
    width: 1px;
    height: 60px;
    background: #efefef;
}

.picLsit dt {
    float: left;
}

.picLsit dd {
    vertical-align: middle;
    margin-left: .5em;
    padding: 0 2px;
    float: right;
}

.picLsit dd {
    text-align: center;
}

/*start 通知公告*/
.line {
    width: 100%;
    height: 8px;
    background: #f3f3f3;
}

.notice {
    border-bottom: 1px solid #f4f4f4;
}

.notice .noticeText {
    padding: 3px 6px;
    color: #d61816;
}

.notice i {
    margin-left: 5px;
    font-size: x-large;
    color: #d61816;
}

/*start 中奖新星*/
.itemFloat {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}

.itemFloat img {
    border-radius: 50%;
    width: 3rem;
}

.itemFloat h6 {
    margin: 0 auto;
}

.itemFloat p {
    margin: 0 auto;
    padding: 0 2px;
    font-size: 10px;
}

.itemFloat .pitch {
    height: 16px;
    width: 3.5em;
    padding: 2px 0;
    background: #d11a15;
    color: white;
    position: relative;
    line-height: 12px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

/*start 新闻资讯*/
.list .listText {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: normal;*/
    height: 40px;
}

.list .dataTime {
    position: relative;
}

.list .dataTime i {
    font-size: .8em;
    color: #a2a2a2;
}

/***********************************推荐页面************************************/

/*综合排序*/
.SortTotal {
    border-bottom: 1px solid #e9e9e9;
}

.popover-arrow {
    position: absolute;
    left: 0;
    top: 0;
}

.popover-wrapper {
    position: absolute;
    top: 38px;
    left: -10px;
}

.popover-wrapper h4 {
    padding: 0px 5px 6px 5px;
    border-bottom: 1px solid #e9e9e9;
    color: #5f5f5f;
    font-size: small;
}

.item-avatar {
    min-height: 120px;
    position: relative;
}

.orderItem {
    position: absolute;
    left: 0;
    top: 60px;
}

.orderItem h4 {
    color: #dfae46;
    font-size: 1em;
}

.orderItem p {
    color: #999999;
    font-size: .5em;
    padding-top: 6px;
    letter-spacing: 1px;
}

.orderItem h5 {
    padding-top: 2px;
    color: #bd0806;
    font-size: .3em;
}

.endData {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    color: #a9a9a9;
}

.endData .btn {
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 0 10px;
    min-width: 30px;
    min-height: 25px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    vertical-align: top;
    background: #c90000;
}

/*资讯模块*/
.bar-assertive .button.button-clear {
    margin: auto;
}

.football a > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 40px;
}

.longTime {
    color: #a2a2a2;
    right: 0;
    line-height: 100%;
    font-size: .6em;
    padding: 2px;
}

.longTime p {
    color: #a2a2a2;
    font-size: .6em;
}

.longTime i {
    margin-left: 1.5em;
}

.LotteryImg img {
    width: 60%;
}

.LotteryImg .col {
    text-align: center;
}

.LotteryImg p {
    color: #6e6e6e;
    font-family: 新宋体;
    margin-bottom: 2px;
}

/*文章详情页面*/
.infoContent h3 {
    padding: 10px 15px;
}

.infoContent h5 {
    text-align: center;
    color: #a2a2a2;
}

.infoContent p {
    text-indent: 30px;
    color: #a2a2a2;
    font-size: 1.2em;
    padding: 0 10px;
}

/*竞彩足球的下单详情页面*/
.tabs-striped.tabs-stable .tab-item.tab-item-active {
    border-color: #bf0806;
    margin-top: 2px;
}

/*.list .item.item-accordion {
    transition: 0.09s all linear;
}*/
.list .item.item-accordion.ng-hide {
    line-height: 0;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.item.active.item-stable {
    background-color: #f8f8f8;
}

.footballListGroup {
    border-color: #a9a9a9;
    background-color: #f6f6f6;
    padding: 10px 6px;
}

.footballListGroup .row {
    padding: 0;
    text-align: center;
}

.footballListGroup .col-70 {
    margin-left: 10px;
}

.footballListGroup .tab-status {
    position: relative;
    width: 100%;
    border: solid 1px #c9c9c9;
    border-bottom: 0;
}

.footballListGroup > .row > i {
    display: block;
    border-width: 1px;
    border-color: #d11d1d;
    border-style: solid;
    opacity: .6;
}

.footballListGroup .tab-status > span {
    display: block;
    width: 0;
    height: 0;
    text-align: center;
    line-height: 100%;
    border-top: 28px solid #bf0806;
    border-right: 28px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.footballListGroup .tab-status > span > i {
    position: absolute;
    top: -26px;
    left: 1px;
    color: white;
    font-size: small;
}

.pitchStatus {
    background-color: #d11a15;
    color: white;
}

.un-pitchStatus {
    background-color: white;
    color: #a2a2a2;
}

.footballListGroup .col-70 h3 {
    text-align: left;
    padding: 3px 0;
}

.footballListGroup .button {
    min-height: 30px;
    font-size: .8em;
    border-radius: 3px;
    line-height: 30px;
}

.footballListGroup .button.button-assertive {
    background-color: #d81b1b;
}

.head {
    border-bottom: solid 1px #D1D3D6;
    border-right: solid 1px #D1D3D6;
    height: 35px;
    display: flex;
    align-items: center;
    width: 33.3%;
    font-size: .8em;
    justify-content: center;
}

/*足球 底部按钮*/
.football-order-btns {
    height: 110px;
    padding: 0 0;
}

.ensure-btn {
    width: 100%;
    height: 45px;
    padding: 0 0;
    border-bottom: 1px solid #c8c8c8;
}

.select-Several {
    background-color: #d11d1d;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1px;
}

.group-btn {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 45px;
    line-height: 45px;
}

.multiple-input input[type = 'text'] {
    color: #dd2b1c;
    font-size: .9em;
    border: solid 1px #6e6e6e;
    width: 80%;
    border-radius: 4px;
    text-align: center;
    line-height: 100%;
}

/*大乐透的下单详情页面*/
.bar.bar-light .title {
    color: #d11d1d;
}

.PickAreaContent {
    background-color: #f6f6f6;
}

.drawTime span,
.drawTime i {
    color: #838383;
}

.num-sum-red {
    padding-bottom: 8px;
    border-bottom: solid 1px #e2e2e2;
}

.red-ball-bg-white {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #d11d1d;
    background-color: #ffffff;
    color: #d11d1d;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.red-ball-bg-red {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.num-sum-blue {
    padding-top: 8px;
}

.blue-ball-bg-white {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #3f97d5;
    background-color: #ffffff;
    color: #3f97d5;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.blue-ball-bg-blue {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #3f97d5;
    background-color: #3f97d5;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.order-btns {
    line-height: 60px;
    height: 60px;
    border-top: 1px solid rgba(160, 160, 160, 0.3);
}

.order-btns .button-assertive {
    height: 30px;
}

.clearBtn {
    height: 60px;
    line-height: 60px;
}

.clearBtn p {
    padding: 0 0;
}

.clearBtn .button-light {
    height: 50px;
    line-height: 6px;
}

.clearBtn .button-assertive {
    margin-top: 12px;
    padding: 8px 20px;
    line-height: 15px;
}

.clearBtn h1 {
    padding: 10px 0;
}

.pitchOnRed {
    background: #d11d1d;
    color: white;
}

/*popover 弹出框*/
.popover {
    top: 38px !important;
    width: 100px;
    height: 120px;
    padding: 2px 5px;
    border-radius: 2px !important;
}

.popover h5 {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #b7b7b7;
    text-align: center;
    line-height: 15px;
}

.popover h5:last-child {
    border-bottom: 0;
}

/**********订单状态************/
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.order-status-wrap {
    height: 100%;
    background: #f6f6f6
}

.order-status-ul {
    padding: 10px 10px 70px 0;
}

/*每个li分left（图标）、right（信息）两边*/
.order-status-left {
    position: relative;
    float: left;
    width: 16%;
    height: 95px;
    box-sizing: border-box;
    /*padding: 0 20px 0 15px;*/
}

.order-start-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -20%;
    z-index: 2;
    background: #f6f6f6;
    padding: 2px;
    font-size: 25px;
}

.order-status-bg1 {
    background: #f6f6f6 url('../img/orderStatusBg.png') no-repeat 0 5px;
}

.order-status-bg2 {
    background: #f6f6f6 url('../img/orderStatusBg.png') no-repeat 0 -35px;
}

.order-status-bg3 {
    background: #f6f6f6 url('../img/orderStatusBg.png') no-repeat 0 -75px;
}

.order-status-bg4 {
    background: #f6f6f6 url('../img/orderStatusBg.png') no-repeat 0 -115px;
}

.order-status-bg5 {
    background: #f6f6f6 url('../img/orderStatusBg.png') no-repeat 0 -155px;
}

.order-status-left .order-status-line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 95px;
    display: block;
    background: #e42112;
    z-index: 1;
}

.order-status-right {
    float: left;
    width: 84%;
    height: 85px;
    margin: 5px 0 5px;
    padding: 5px;
    background: #fff;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.order-status-right p{
    font-size: 12px;
    padding-left: 10px;
    color: #666666;
    height: 32px;
    line-height: 30px;
}

.order-status-right p .button{
    background: #d11d1d;
    padding: 0 15px;
    min-height: 28px!important;
    line-height: 28px;
    color: #fefefe;
    margin-right: 10px;
    font-size: 14px;
}

.order-status-content h5 {
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
    color: #333333;
}

.order-status-content span {
    margin-top: 12px;
    font-size: 12px;
    color: #666666;;
    padding-right: 10px;
}

/*投注详情页面*/
.title-marginTop {
    margin-top: 10px;
}

.bg-grey {
    padding-top: 51px;
    background: #f5f5f5;
}

.bg-grey .deleteIcon {
    margin-left: -5px;
}

.bg-grey .deleteIconGroup {
    margin-top: -5px;
    margin-left: -5px;
}

.bg-grey .betting-detail-ul {
    padding-bottom: 60px;
}

.h50 {
    height: 50px;
    background-color: #f5f5f5;
}

.btn-30 {
    margin: 0 15px;
    /*	min-height: 30px;
        height: 30px;
        line-height: 30px*/
}

.addHeader50 {
    height: 50px;
    padding: 0;
}

.h50 a {
    min-height: 40px;
    line-height: 40px;
    padding: 0;
}

.h50 a.button.icon:before,
.betting-detail-ul a.button .icon:before {
    margin-top: 3px;
    padding-left: 15%;
    font-size: 30px;
}

.h50 a.btn-30:before {
    line-height: 40px;
    padding-left: 16%;
}

.h50 .button.button-light {
    line-height: 40px;
}

.betting-detail-ul li {
    padding: 8px 40px;
}

.betting-num i {
    width: 1.8em;
    height: 1.8em;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8em;
    margin: 3px 0.5%;
    display: inline-block;
    float: left;
}

.num-bg-red i {
    background: #e42112;
}

.num-bg-blue i {
    background: #3f97d5;
}

/*投注详情的footer*/
.betting-detail-footer {
    background: #fff;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-top: #c9c9c9 1px solid;
}

.betting-detail-footer div {
    width: 100%;
    margin: 0 auto;
}

.betting-detail-footer div p:first-child {
    margin: 13px 0 0 0;
    height: 30px;
    line-height: 30px;
}

.betting-detail-footer .bigLotto-input1 {
    width: 4rem;
    border: 1px solid #ccc;
    display: inline-block;
    background: transparent;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    line-height: 30px;
}

.betting-detail-footer .bigLotto-input2 {
    width: 18px;
    height: 18px;
    top: 10px;
}

input.bigLotto-input2:checked:before {
    background: #e42112;
    border-color: #e42112;
}

.checkbox input:after {
    top: 20%;
    left: 15%;
}

.font-red {
    color: red;
}

.submitBtn {
    padding: 5px 0 !important;
}

.titleText {
    position: absolute;
    z-index: 9999;
    top: 5px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    color: #d11d1d;
}

/*我的*/
.user {
    width: 100%;
    height: 200px;
    background-size: contain;
    background: url("../img/userBg.png") center center no-repeat;
}

.user .user-top {
    height: 70%;
}

.user .col-40 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .col-60 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user .user-portrait {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    border: solid 2px #FFF;
    overflow: hidden;
}

.user .user-portrait img {
    width: 100%;
}

.user .user-info,
.user .user-info h4 {
    color: #fffefb;
}

.user .user-bottom {
    height: 30%;
    background: rgba(0, 0, 0, 0.15);
    margin-top: 0;
    padding: 8px 0;
}

.user .user-bottom .col-33:first-child {
    border-left: none;
}

.user .user-bottom .col-33 {
    border-left: #fffefb 1px solid;
    text-align: center;
    color: #fffefb;
    padding: 0 0;
    font-family: "Liberation Mono";
}

.user .user-bottom .col-33 p {
    margin: 2px 0;
}

.account {
    background: #fffefb;
}

.account .col-33 {
    text-align: center;
}

.account .col-33 img {
    width: 60%;
}

.account .col-33 p {
    color: #999999;
    margin: 2px 0;
}

.orders {
    margin-top: 5px;
}

.mine-all-orders {
    height: 100px;
    background: white;
    border-top: solid 1px #ededed;
}

.mine-all-orders .col-25 {
    text-align: center;
    padding: 15px 0;
}

.mine-all-orders .col-25 i {
    font-size: 20px;
    font-weight: 600;
}

.mine-all-orders .col-25 a {
    color: #555555;
    display: inline-block;
}

.mine-all-orders .col-25 p {
    padding: 10px 3px;
}

.red-point {
    font-size: 10px !important;
    border-radius: 50%;
    border: solid 1px #d11d1d;
    z-index: 99;
    text-decoration: none;
    display: inline-block;
    color: #d11d1d;
    line-height: 20px;
    position: relative;
    top: -13px;
    left: -3px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.margin-5 {
    margin-top: 5px;
    margin-bottom: 0;
}

/*全部订单页面*/
.all-orders-title .title {
    margin: 4px 10px;
}

.all-orders-list .font-style5,
.order-detail-list .font-style5 {
    font-weight: bold;
    color: #d11d1d;
}

.order-detail-list .explain-info {
    color: #d11d1d;
    font-size: 12px;
    line-height: 25px;
    margin-left: 20px;
}

.allorders-scroll {
    width: 100%;
    height: 93%;
}

.all-orders {
    background: #f6f6f6;
}

.all-orders .tab-toselect {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #bebebe;
}

.all-orders .tab_default {
    border: none;
    padding: 8px 0;
    font-size: 13px;
    color: #999;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.all-orders .tab_select {
    color: #e02121;
    font-size: 13px;
    font-weight: 600;
    border-bottom: solid 2px #e02121;
}

.all-orders .tab_default:last-child {
    border-right: none;
}

.all-orders-list .each-order {
    position: relative;
    margin-top: 11px;
}

.all-orders-list .each-order:first-child {
    margin-top: 0;
}

.all-orders .padding-h8 {
    padding: 8px 0;
    color: #333;
}

.all-orders .lt-style {
    color: #333
}

.all-orders-list .row-top {
    padding: 0 0 10px 10px;
}

.all-orders-list .row-top i {
    width: 30px;
    height: 16px;
    font-size: 12px;
    color: white;
    padding: 4px 12px;
    background: #e41d1d;
    border-radius: 12px 12px 12px 12px;
}

.all-orders-list .row-top h3 {
    padding: 0 0 5px 0;
    font-size: 14px;
    color: #777777;
}

.all-orders-list .row-top ins {
    font-size: 13px;
    color: #e02121;
    text-decoration: none;
    font-weight: bold;
}

.all-orders-list .col-right {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 0;
}

.all-orders-list .col-right h3 span {
    font-size: 13px;
}

.all-orders-list .col-right small {
    font-size: 13px;
    color: #777777;
}

.all-orders-list .row-bottom {
    border-top: solid 1px #dedede;
    padding: 0 5px;
}

.all-orders-list .row-bottom a {
    color: #666;
    font-size: 13px;
}

.all-orders-list .col-right a.button {
    color: white;
    padding: 2px 10px;
    min-height: 25px;
    line-height: 25px;
    font-size: 13px;
}

.row-top .win-img {
    font-size: 50px;
    position: absolute;
    left: 50%;
}

.all-orders-list .font-style3 {
    color: #333;
    font-size: 11px;
}

.all-orders-list .font-style1,
.order-detail-list .font-style1 {
    color: #d11d1d;
    font-size: 13px;
}

.all-orders-list .font-style2 {
    font-size: 11px;
    color: #999;
}

.all-orders-list .font-style4 {
    font-size: 10px;
    color: #0055ff;
}

.all-orders-list .font-style6 {
    font-size: 11px;
    color: #d11d1d;
}

.all-orders-list .font-style7 {
    color: #333;
    font-size: 13px;
}

.all-orders-list .prize-img {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 52%;
    width: 70px;
}

/*全部订单待付款*/
.detailTitle{
    height: 60px;
    width: 100%;
    display: flex;
    line-height: 60px;
    background-image: url("../img/detail-bg.png");
    background-size: 100%;
}

.detailTitle h3{
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 17px;
    line-height: 60px;
    color: #333333;
}

.detailTitle span{
    font-size: 11px;
    color: #999999;
    margin-left: 8px;
    letter-spacing: 1px;
}

.detailTitle i{
    font-size: 15px;
    color: #d11d1d;
    display: inline-block;
    position: absolute;
    right: 14px;
}

.user-head{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
}

.user-head img{
    width: 90%;
    vertical-align: middle;
}

.detailTitle-content{
    background: white;
    padding: 20px 10px 0 10px;
    margin-bottom: 5px;
}

.detailTitle-content .list-item{
    padding: 5px 15px 5px 4px;
    border: none;
    margin: 0;
    border-bottom: solid 1px #efefef;
    display: flex;
    vertical-align: middle;
}

.list-item.active{
    background: white;
}

.list-item h2{
    font-size: 15px;
    color: #333333;
    display: inline-block;
    padding: 3px 2px;
    vertical-align: middle;
}

.list-item span{
    font-size: 14px;
    color: #999999;
    display: inline-block;
    padding: 3px 2px;
    vertical-align: middle;
    margin-left: 20px;
}

.list-item i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    line-height: 15px;
    height: 15px!important;
    border-radius: 50%;
    border: solid 1px #d2d2d2;
}

.itemContent{
    padding: 2px 2px!important;
}

.ball-content{
    width: 100%;
}

.ball-content li{
    width: 100%;
    padding: 0 2px;
    height: 40px;
    line-height: 40px;
    display: flex;
    border-bottom: solid 1px #efefef;
}

.ball-content li:last-child{
    border-bottom: none;
}

.ball-content .way{
    width: 25%;
    height: 40px;
    display: inline-block;
}

.ball-content > li > span{
    width: 75%;
    display: inline-block;
    font-size: 14px;
    color: #999999;
    padding: 3px 2px;
    vertical-align: middle;
    margin: 0;
    float: right;
    padding-left: 14px;
}

.ball-content h3{
    font-size: 15px;
    color: #b0b1b1;
    padding: 3px 0 0 3px;
    display: grid;
    vertical-align: middle;
    width: 100%;
    padding-left: 12px;
    margin: 0 0;
}

.ball-content ins{
    text-decoration: none;
    display: flex;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding-left: 12px;
    color: #b0b1b1;
}

.ball-foot li{
    height: 35px;
}

.ball-foot h3{
    font-size: 15px;
    color: #ab967a;
    display: inline-block;
    margin-left: 8px;
    width: 24%;
    padding: 6px 6px;
    font-weight: 600;
}

.ball-foot ins{
    font-size: 15px;
    color: #ab967a;
    text-decoration: none;
    font-weight: 600;
}

.Continue-bet{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    margin: auto;
    display: table;
    padding: 0 30px;
}

/*上拉菜单*/
.action-sheet-group {
    border-radius: 15px;
}

.action-sheet .button {
    color: #999999;
    padding: 5px 0;
    font-size: 15px;
}

.action-sheet .button.active,
.action-sheet .button.activated {
    color: #d11d1d;
}

/*提现*/
.getMoney .withDrawMoney {
    margin: 20px 0 5px 0;
    padding: 8px 50px;
    font-size: 18px;
    color: #363535;
}

.getMoney .money-input {
    width: 90%;
    margin: 20px auto 0;
    padding: 0 30px;
    display: flex;
    vertical-align: bottom;
    border-bottom: solid 1px #cececf;
}

.money-input i {
    font-size: x-large;
    font-weight: 600;
}

.getMoney input[type=tel] {
    width: 90%;
    padding: 20px 10px 30px 5px;
    font-size: x-large;
    background: none;
}

.money-tips {
    margin: 10px auto;
    padding: 10px 5px;
    width: 80%;
    text-align: left;
}

.widthdraw-btn-red {
    color: #fff;
    background: #d11d1d;
}

.widthdraw-btn-grey {
    color: #fff;
    background: #ccc;
}

.tips-area {
    height: 60px;
    margin-top: 5px;
}

.cant-widthdraw {
    color: #d11d1d;
    margin: 10px auto;
    padding: 10px 5px;
    width: 80%;
    text-align: left;
}

/*   提现  充值 */
.drawFailed {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.drawFailed .icon-wrong {
    font-size: 7em;
}
.drawFailed .icon-clock,
.drawFailed .icon-checkNumber {
    font-size: 7em;
}

.drawFailed p {
    margin: 20px 0;
    color: #1a1a1a;
}

.drawFailed .button {
    background: #d11d1d;
    color: white;
}

.proof {
    margin-top: 15px;
    background: white;
}

.proof .item-area {
    height: 100%;
    background: white;
}

.withDrawProof{
    height: 55px;
}

.withDrawProof a{
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #ca0a0a;
}

.item-area img {
    max-height: 100%;
}

.imgItem{
    padding: 0;
    width: auto;
    display: inline-block;
    height: 65px;
    overflow: inherit;
    text-overflow: clip;
    white-space: normal;
    position: relative;
    margin: 0 2px;
}

.imgItem i{
    position: absolute;
    top: -10px;
    right: -5px;
    z-index: 2;
    color: #ff4236;
}

.proof .item-area textarea {
    width: 100%;
    resize: none;
    height: 100%;
    color: #999999;
    text-align: start;
    padding: 5px 6px;
}

.proof .item-stable {
    border-top: 0;
    background: white;
    border-bottom: solid 1px #f7f5f5;
    color: #d21e1e;
    font-weight: 600;
    width: 50%;
    display: table-row;
}

.proof .item-stable i {
    color: #999999;
    width: 15px;
    height: 15px;
    float: right;
    right: 15px;
    border-radius: 50%;
    border: solid 1px #9e9e9e;
    font-size: 10px;
    top: 20px;
}

.proof .active {
    background: #fff !important;
}

.item-accordion {
    padding: 10px 10px;
    white-space: inherit;
}

.add-img {
    display: inline-block;
}

.add-img-icon {
    font-size: 3em;
    padding: 6px 15px;
    display: table-cell;
    color: #dddede;
    background: none;
    border: 1px solid #dddede;
}

.item-area p {
    color: #fa6d69;
    font-size: 9px;
}

/*明细详情*/
.DetailInfo {
    background: white;
    margin-top: -15px;
    padding-top: 20px;
}

.detail-title {
    margin: 15px 0 0 15px;
    text-align: center;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    /*定义盒子*/
    display: flex;
    /* 使子元素水平居中 */
    justify-content: center;
    /* 使子元素垂直居中 */
    align-items: center;
}

.detail-title i {
    display: inline-block;
    font-size: xx-large;
    vertical-align: middle;
}

.detail-title span {
    display: inline-block;
    margin-left: 10px;
}

.trading-status {
    height: 100px;
    margin: 15px 10px;
}

.trading-status p {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
}

.trading-status > span {
    display: table;
    margin: 25px auto;
    font-size: 12px;
    color: #8d8e8d;
}

.detail-list {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.detail-list span {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}

.detail-list ins {
    text-decoration: none;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #999999;
}

#filtrate {
    position: absolute;
    background: rgba(0, 0, 0, .6);
}

.account-modal4 {
    position: absolute;
    top: 25%;
    width: 74.4%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, -0);
    text-align: center;
    border-radius: 8px;
}

.account-modal4 .top {
    border-radius: 8px 8px 0 0;
    font-size: 14px;
    color: #333333;
    height: 47px;
    line-height: 47px;
    border-bottom: 1px solid #d11d1d;
    background-color: #fff;
}

.account-modal4 .middle {
    padding: 18px 0 12px;
    text-align: center;
    border-bottom: 1px solid #bdbdbd;
    background-color: #f6f6f6;
}

.account-modal4 .middle button {
    background: none;
    border: 1px solid #a7a6a6;
    padding: 10px;
    margin: 10px 15px;
    width: 35%;
    border-radius: 4px;
}

.account-modal4 .bottom {
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    padding: 0;
    border-radius:  0 0 8px 8px;
}

.addBtnClassRed{
    background: #d32626!important;
    color: white;
    border: 1px solid #d32626!important;
}

.addBtnClassGray{
    background: #ffffff!important;
    color: #333333;
    border: 1px solid #888888;
}


/*密码验证模态框*/
.pawCode {
    position: absolute;
    background: rgba(0, 0, 0, .6);
}

.account-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.account-modal .icon {
    font-size: 40px;
    z-index: 9;
    display: inline-table;
    margin-left: -8px;
    margin-top: 5px;
}

.account-modal ion-item,
.account-modal .item-content {
    color: #000;
    font-size: 16px;
    padding: 10px 16px;
}

.account-modal ion-item:first-child {
    font-size: 17px;
    text-align: center;
}

.account-modal .disable-class .item-content {
    background-color: #ccc;
}

.withdrawPawCode {
    margin: 15px 0;
}

.withdrawPawCode input[type='password'] {
    width: 40px;
    border-left: 1px solid #eeeeee;
    height: 50px;
    margin: 0 0;
    padding-right: 0;
    font-size: 2em;
    line-height: 50px;
    text-align: center;
}

.withdrawPawCode input[type='password']:first-child {
    border-left: none;
}

.withdrawPawCode .item-input {
    padding: 0 0 0;
    border: solid 1px #c6c6c6;
}

.account-modal a {
    display: block;
    font-size: 12px;
    text-align: end;
}

/*  明细  */
.dateTitle{
    padding: 0;
    height: 35px;
    display: block;
}

.head-detail {
    line-height: 35px;
    height: 35px;
    background: #efeff4;
}

.head-detail span {
    margin-left: 18px;
}

.head-detail i {
    float: right;
    margin-right: 17px;
    margin-top: 10px;
}

.list-detail{
    padding-top: 36px;
}

.list-detail .item {
    padding: 0;
}

.list-detail .col-20 {
    width: 70px;
    min-height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-detail .col-80 {
    padding-left: 60px;
    align-self: center;
    font-size: 15px;
    font-weight: 600;
}

.list-detail .col-80 img {
    position: absolute;
    top: 25%;
    left: 80px;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.popoverView {
    border-radius: 4px !important;
    width: 110px;
    height: 150px;
}

.popoverView > .datePopOver {
    padding: 0 4px;
    margin: 6px 0;
}

.popoverView > .datePopOver h4 {
    text-align: center;
    margin: 0 0;
    padding: 6px 0;
}

/*走势图 历史开奖 玩法说明 popover*/
.trendPopoverView {
    border-radius: 4px !important;
    width: 90px;
    height: 100px;
}

.trendPopoverView > .trendPopOver {
    padding: 0 4px;
    margin: 6px 0;
}

.trendPopoverView > .trendPopOver h5 {
    text-align: center;
    margin: 0 0;
    padding: 6px 0;
    color: #333333;
}

/*历史开奖*/
.history-title{
    height: 25px;
    padding: 0 0;
}

.history-notice{
    height: 25px;
    line-height: 20px;
    padding: 2px 0 2px 10px;
    font-size: 12px;
    color: #999999;
    width: 100%;
    background: #f6f6f6;
    border-bottom: solid 1px #ebebeb;
}

.h25{
    padding-top: 25px;
    background: #f6f6f6;
}

.h25 .row{
    padding: 0;
}

.h25 .row table{
    width: 100%;
}

.h25 .row table tr:first-child{
    background: #f6f6f6;
    padding: 3px 10px;
}

.h25 .row table tr{
    width: 100%;
    display: flex;
    font-size: 12px;
    padding: 14px 10px;
    background: white;
    border-bottom: solid 1px #ebebeb;
}

.h25 .row table td:nth-child(2n){
    color: #f33232;
}

.h25 .row table td,
.h25 .row table th{
    width: 35%;
    text-align: left;
}

.h25 .row{
    font-size: 13px;
    color: #999999;
}

.h25 .button{
    background: #d21e1e;
    color: white;
    margin: 55px auto;
    padding: 0 50px;
    display: table;
}

.history-time {
    padding: 2px 10px;
}

.history-time .row {
    padding: 0 5px;
}

.history-time .row .col {
    padding: 0;
}

.history-time p {
    font-size: .6em;
    color: #a2a2a2;
    padding-left: 5px;
}

.history-time ins {
    float: right;
    text-decoration: none;
}

.show-red-ball{
    height: 40px;
}

.show-red-ball i,
.show-blue-ball i {
    width: 1.5em;
    height: 1.5em;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 1.4em;
    margin: 4px 0;
    display: inline-block;
}

.show-red-ball i {
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
}

.show-blue-ball i {
    border: solid 1px #3f97d5;
    background-color: #3f97d5;
}

.h25 .history-show{
    min-height: 100px;
    padding-bottom: 15px;
    background: #FFF;
}

.history-show p{
    margin-top: 3px;
    padding: 10px 8px;
}

.history-show p ins{
    font-size: 15px;
    color: #333333;
    text-decoration: none;
}

.history-show p i {
    float: right;
    font-size: 15px;
    color: #333333;
}

.history-show .explain{
    font-size: 11px;
    color: #333333;
    text-align: center;
}

.history-show .explain i{
    font-size: 11px;
    color: #d11d1d;
}

.show-red-balls{
    height: 40px;
}

.show-red-balls i,
.show-blue-balls i {
    width: 28px;
    height: 28px;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    margin: 4px 0;
    display: inline-block;
}

.show-red-balls i {
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
    margin: 4px 2px;
}

.show-blue-balls i {
    border: solid 1px #3f97d5;
    background-color: #3f97d5;
    margin: 4px 2px;
}























