@font-face {
    font-family: 'icoddb';
    src:  url('../lib/ionic/fonts/icoddb.eot?fm8md0');
    src:  url('../lib/ionic/fonts/icoddb.eot?fm8md0#iefix') format('embedded-opentype'),
    url('../lib/ionic/fonts/icoddb.ttf?fm8md0') format('truetype'),
    url('../lib/ionic/fonts/icoddb.woff?fm8md0') format('woff'),
    url('../lib/ionic/fonts/icoddb.svg?fm8md0#icoddb') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icoddb' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
    content: "\e90e";
    color: #515151;
}
.icon-ring:before {
    content: "\e90c";
    color: #d11d1d;
}
.icon-drawer:before {
    content: "\e900";
}
.icon-toDraw:before {
    content: "\e901";
    color: #d11d1d;
}
.icon-toDraw-grey:before {
    content: "\e901";
}
.icon-drawer-failure:before {
    content: "\e902";
}
.icon-payment:before {
    content: "\e903";
}
.icon-color-shop:before {
    content: "\e904";
    color: #de732d;
}
.icon-order:before {
    content: "\e905";
    color: #ffaf03;
}
.icon-PushSingle:before {
    content: "\e906";
    color: #f69679;
}
.icon-checkNumber:before {
    content: "\e907";
    color: #d81e06;
}
.icon-limit:before {
    content: "\e908";
    color: #008bf4;
}
.icon-share:before {
    content: "\e909";
    color: #d11d1d;
}
.icon-machine:before {
    content: "\e90a";
    color: #d11d1d;
}
.icon-minus:before {
    content: "\e90b";
    color: #d81e06;
}
.icon-conner-greyTR:before {
    content: "\e90d";
}
.icon-conner-redTL:before {
    content: "\e912";
    color: #d81e06;
}
.icon-conner-grey:before {
    content: "\e90f";
}
.icon-conner-large:before {
    content: "\e910";
    color: #d81e06;
}
.icon-conner-redTR:before {
    content: "\e911";
    color: #d11d1d;
}
.icon-conner-small:before {
    content: "\e914";
    color: #d11d1d;
}
.icon-record:before {
    content: "\e915";
}
.icon-bubble-grey:before {
    content: "\e916";
    color: #707070;
}
.icon-bubble-red:before {
    content: "\e917";
    color: #d11d1d;
}
.icon-allOrder:before {
    content: "\e918";
    color: #ffaf02;
}
.icon-voucher:before {
    content: "\e919";
}
.icon-calendar:before {
    content: "\e91a";
}
.icon-filtrate:before {
    content: "\e91b";
    color: #d11d1d;
}
.icon-delete:before {
    content: "\e91c";
    color: #d11d1d;
}
.icon-setting:before {
    content: "\e91d";
    color: #07d6ba;
}
.icon-clock:before {
    content: "\e91e";
    color: #d81e06;
}
.icon-home:before {
    content: "\e91f";
    color: #d11d1d;
}
.icon-home-outline:before {
    content: "\e920";
}
.icon-putIn:before {
    content: "\e921";
    color: #d11d1d;
}
.icon-withdraw:before {
    content: "\e922";
    color: #f50;
}
.icon-withdraw-greyithdraw-grey:before {
    content: "\e923";
}
.icon-append:before {
    content: "\e924";
    color: #8a8a8a;
}
.icon-add:before {
    content: "\e925";
    color: #d11d1d;
}
.icon-message:before {
    content: "\e928";
    color: #d11d1d;
}
.icon-message-outline:before {
    content: "\e929";
}
.icon-recommend-outline:before {
    content: "\e92b";
}
.icon-recommend:before {
    content: "\e92c";
    color: #d11d1d;
}
.icon-oval-grey:before {
    content: "\e92e";
}
.icon-oval-red:before {
    content: "\e92f";
    color: #d81e06;
}
.icon-question:before {
    content: "\e930";
}
.icon-mine:before {
    content: "\e931";
    color: #d11d1d;
}
.icon-mine-outline:before {
    content: "\e932";
}
.icon-winning-red:before {
    content: "\e933";
    color: #d11d1d;
}
.icon-winning-grey:before {
    content: "\e933";
    color: #999999;
}
.icon-wrong:before {
    content: "\e934";
    color: #d81e06;
}
.icon-photos:before {
    content: "\e935";
    color: #d11d1d;
}
.icon-Stick:before {
    content: "\e936";
    color: #d81e06;
}
.icon-TicketCheck:before {
    content: "\e937";
    color: #d11d1d;
}
.icon-Winning:before {
    content: "\e938";
    color: #d11d1d;
}
.icon-freeze:before {
    content: "\e939";
}
